
.base-content {
  height: 100%;
  padding: 0 1rem;
  overflow: hidden;
}

.base-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  border: none;
  border-radius: $base-border-radius;
  box-shadow: $base-shadow;
}

.page-title {
  //font-family: $bold-font;
  color: $base-text;
  font-size: 2.5rem;
  
  &--white {
    color: $light-text;
  }
}

.nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
